* {
	box-sizing: border-box;
}
body {
	position: absolute;
	display: table;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.bg {
	position: absolute;
	width: 100%;
	height: calc(100% - 40px);
}
.bg2 {
	background-color: #eee;
}
.bg2 .container {
	background-color: #fff;
}
.left_bar {
	float: left;
	height: 100%;
	/*border-right: solid 1px #555;*/
	box-shadow: 0 0 15px 5px #ddd;
	padding: 0px;
	/*background-color: #ddd;*/
	width: 400px;
}

.components_container {
    border-top: solid 1px #ddd;
	overflow-y: scroll;
	height: calc(100% - 50px);
}

.page_content {
	float: left;
	width: calc(100% - 400px);
	height: 100%;
	overflow-y: auto;
	padding: 20px;
}
/*.base:first-child {
	border-top: solid 1px #999;
}
.base {
	border-bottom: solid 1px #999;
}*/
.base:nth-child(odd) {
	background-color: #eee;
}
.base:nth-child(even) {
	background-color: #fff;
}
.symbol.required:before {
	content: "*";
	display: inline;
	color: #E6674A;
}
.dashed {
	border: dashed 1px transparent;
}
.item, .padbtm {
	padding: 10px 0;
}
.item :read-only {
	cursor: pointer;
}
.event-detail-row {
	padding: 10px 0 0;
} 
.space {
	height: 200px;
}
.insert_pointer {
	position: absolute;
	border: dashed 1px #555;
}
.append_holder {
	border: dashed 1px #555;
	width: 13px;
	height: 56px;
	display: inline-block;
	float: left;
} 
.append_holder.col-sm-12 {
	width: 100%;
}
.insert_mark {
	background-color: rgba(255, 0, 0, 0.7);
}

.anime_alert {
	height: calc(100%);
	animation: anime_alert_border 1s infinite ease-in-out;
	animation-fill-mode: both;
}
@keyframes anime_alert_border{
	50% {
		background: rgba(255, 255, 0, 0.3);
	}
}

/* .control_bar {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
	animation: anime_show 0.1s 1 ease-in;
} */
.control_bar {
    position: absolute;
    width: 100%;
	height: 100%;
    float: left;
    top: 0px;
	text-align: center;
	vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: -15px;
    margin-right: -15px;
	animation: anime_show 0.1s 1 ease-in;
	z-index: 10000;
}

.control_bar_core {
	height: 42px;
	position: absolute;
	margin: auto;
	left: -50px;
	text-align: center;
	top: 0;
	bottom: 0;
	right: -50px;
}


@keyframes anime_show{
	0% {
		opacity: 0;
		box-shadow: 0 0 15px 5px #555;
	}
}
.control_bar button {
	height: 42px;
	line-height: 42px;
	width: 42px;
	border-radius: 42px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	border-width: 0px;
	margin: 0 10px;
	animation: anime_margin 0.2s ease-in 1 normal;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;					
}

.page_content .btnClearAll {
	display: none;
}
.page_content:hover .btnClearAll {
	display: block;
}
.btnClearAll {
	position: fixed;
	right: 0px;
	top: 0px;
	border-radius: 0 0 0 100px;
	padding-top: 0px;
	padding-right: 4px;
}
.btnClearAll:hover {
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-left-color: #f00;
	border-bottom-color: #f00;
	animation: btnClearAll 0.1s ease-in-out 1 normal;

	box-shadow: 0 0 55px 10px red;
}
@keyframes btnClearAll {
	0% {
		box-shadow: 0 0 1px 0px red;
	}
}
.btnClearAll:active {
	background-color: white;
	color: red;
	border-color: white;
	animation: btnClearAll_active 0.1s ease-in-out 1 normal;
	box-shadow: 0 0 55px 10px white;
}
@keyframes btnClearAll_active {
	0% {
		background-color: red;
		color: white;
	}
}

.delOption {
	padding-left: 0px;
	padding-right: 0px;
}

@keyframes anime_margin{
	0% {
		margin: 0 -21px;
	}

	50% {
		margin: 0 -21px;
	}
}
.control_bar button i {
	height: 42px;
	line-height: 41px;
	width: 42px;
	border-radius: 42px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

.item_detail_header {
	border-radius: 5px 5px 0 0;
	height: 50px ;
	padding: 7px 20px;
	background-color: #eee;
	width: 100%;
	position: absolute;
	top: 0px;
}
.item_detail_body {
	height: calc(100% - 108px);
	margin-top: 50px;
	padding: 15px;	
	overflow-x: hidden;
	overflow-y: auto;
}
.item_detail_body form{
	padding: 0 15px;
	border-top: solid 1px #777;
	margin-bottom: 30px;
}
.event_bind_body {
	height: calc(100% - 108px);
	margin-top: 50px;
	padding: 15px;	
	overflow-x: hidden;
	overflow-y: auto;
}
/* .event_bind_body form {
	padding: 0;
	margin-bottom: 10px;
} */
.event_bind_form {
	padding: 0 10px 10px;
    border: dashed 1px #aaa;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.eventDeleteBtnContainer {
    position: relative;
    height: 0px;
    float: right;
}
.eventDeleteBtn {
	position: relative;
	float: right;
	top: -9px;
	right: -20px;
	padding: 0px;
	border-radius: 10px;
	line-height: 16px;
	width: 18px;
}
.fakeHide {
	opacity: 0.5;
}

.item_detail_body h4{
	border-left: solid 5px #337ab7;
	text-indent: 0.5em;
} 
.item_detail_footer {
	width: 100%;
	border-radius: 0 0 5px 5px;
	height: 58px ;
	padding: 7px 20px;
	text-align: right;
	background-color: #eee;
	position: absolute;
	bottom: 0px;
}
.item_detail_footer button {
	height: 42px;
	line-height: 42px;
	width: 42px;
	border-radius: 42px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	border-width: 0px;
	margin: 0 10px;
	animation: anime_margin 0.2s ease-in 1 normal;
}
.item_detail_container, .event_bind_container {
	position: absolute;
	width: 400px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 15px 5px #999;
	left: 0px;
	top: 3%;
	height: 93%;
	z-index: 10001;
}
.item_detail_container_in {
	animation: anime_item_detail_container_in 0.2s ease-in 1 normal;;
}
@keyframes anime_item_detail_container_in {
	0% {
		left: -400px;
	}
	70% {
		left: 50px;
	}
	80% {
		left: 25px;
	}
	90% {
		left: 12px;
	}
}

.footer {
	position: fixed;
	width: 100%;
	padding: 5px 10px;
	bottom: 0px;
	display: block;
	background-color: #ddd;
}
.left_bar_title {
	/*width: 426px;*/
	background-color: #fff;
	box-shadow: 0 0 15px 5px #ddd;
	/*border-radius: 0 25px 25px 0;*/
	height: 50px;
}
.btn-round {
	height: 42px;
	line-height: 42px;
	width: 42px;
	border-radius: 42px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	border-width: 0px;
	margin: 0 10px;
}
.btn-round.white-border {
	line-height: 32px;
	border: solid 5px #fff;
}
.readyToBind {
	animation: anime_bindBox 1s infinite ease-in-out;
	animation-fill-mode: both;
}
@keyframes anime_bindBox{
	50% {
		background: rgba(0, 0, 255, 0.3);
	}
}
.bandTrigger {
	animation: anime_activeBox 1s infinite ease-in-out;
	animation-fill-mode: both;
}
@keyframes anime_activeBox{
	50% {
		background: rgba(0, 255, 0, 0.3);
	}
}
.alertBox {
	animation: anime_alertBox 1s infinite ease-in-out;
	animation-fill-mode: both;
}
@keyframes anime_alertBox{
	50% {
		background: rgba(255, 0, 0, 0.3);
	}
}

.feedback-fix {
	right: 15px;
}

.col-sm-0 {
	display: none;
}
label.form-control-static>span.formLabel {
	font-size: 14px;
}
.form-control-static {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}