body, button, input, select, textarea, h1, h2, h3, h4, h5, h6
{
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
}

.base-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background: #eee;
}

.title-block {
    padding: 0;
    border-right: solid 1px transparent;
    box-sizing: content-box;
    line-height: 50px;
    width: 100%;
}
a.title-block:link,
a.title-block:hover,
a.title-block:visited,
a.title-block:active {
    background: #0b9f89!important;
}
.title-block span {
    display: inline-block;
    padding-left: 14px;
    line-height: 50px;
    height: 50px;
    margin-top: -7px;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
}
.sidebar {
    background: rgba(0, 0, 0, 0.2);
    width: 230px;
    position: absolute;
    float: left;
}
.sidebar ul {
    background: #eee;
}
.sidebar ul a:hover {
    background: rgba(255, 255, 255, 0.3);
}
.sidebar ul a.active {
    background: #3bcfb9;
    animation: fade-in 0.5s forwards;
    outline: solid 4px rgba(59, 207, 185, 0.5);
}
.sidebar ul a.cancel {
    background: #3bcfb9;
    animation: fade-out 0.3s forwards;
    /*outline: solid 15px rgba(255, 255, 255, 0.5);*/
}
@keyframes fade-in {
    0% {
        background: transparent;
        outline-offset: -5px;
    }
    100% {
        background: #3bcfb9;
        outline: solid 4px rgba(59, 207, 185, 0);
        outline-offset: -10px;
    }
}
@keyframes fade-out {
    0% {
        background: #3bcfb9;
        /* outline: solid 10px rgba(255, 255, 255, 0);
        outline-offset: 20px; */
    }
    100% {
        background: transparent;
        /*outline-offset: -10px;*/
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        padding-left: 0;
    }
    .sidebar {
        width: 230px;
        float: left;
        position: initial;
        /*float: initial;*/
        /*border-right: solid 1px transparent;*/
        height: calc(100% - 51px);
    }
    .sidebar+div {
        width: calc(100% - 231px);
        height: calc(100% - 52px);
        float: left;
    }
     .sidebar+div iframe {
        position: relative;
        width: 100%;
        height: calc(100% - 3px);
    } 
    .navbar-header {
        width: 230px;
        border-right: solid 1px #ddd;
    }
}

.main {
    display: inline-block;
    height: 100%;
}

.no-radius {
    border-radius: 0;
}

.no-margin {
    margin-top: 0!important;
    margin-right: 0!important;
    margin-bottom: 0!important;
    margin-left: 0!important;
}

.no-padding {
    padding-top: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
    padding-left: 0!important;
}

.nav>.input-group {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* 设定图标颜色 */
i {
    color: #777;
}

/* 关闭panel的按钮样式 */
.panel i.fa-close {
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid transparent;
}
.panel i.fa-close:hover {
    color: #fff;
    background-color: #f00;
}
.panel i.fa-close:active {
    color: #ddd;
    background-color: #d00;
}


.dropdown-preview > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
    float: initial;
    border: none;
    box-shadow: none;
}

/* 左布局 */
.tabs-left>.nav-tabs {
    top: auto;
    margin-bottom: 0;
    border-color: #c5d0dc;
    border-right: 1px solid #c5d0dc;
    float: left;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-color: #c5d0dc;
    margin-bottom: 0;
    margin-left: 0;
    position: relative;
    top: 1px;
}
.tabs-left>.nav-tabs>li {
    float: none;
}
.tabs-left>.nav-tabs>li.active>a,
.tabs-left>.nav-tabs>li.active>a:focus,
.tabs-left>.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-right-color: transparent;*/
    border-radius: 5px;
}


/* 高斯模糊 */
.blur {
    -webkit-filter: blur(3px); /* Chrome, Opera */
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);

}
/* 半透明 */
.opacity {
    -webkit-filter: opacity(.7);
    -moz-filter: opacity(.7); 
    -ms-filter: opacity(.7); 
    filter: opacity(.7); 
}

.masthead {
    overflow: hidden;
    height: 300px;
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075); */
    text-shadow: 0 1px 5px rgba(0,0,0,.9),0 0 30px rgba(0,0,0,.5);
    background: #5bc0de;
    background: -moz-linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#5bc0de),color-stop(100%,#5cb85c));
    background: -webkit-linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    background: -o-linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    background: -ms-linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    background: linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#5cb85c', GradientType=1);
    /* -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2); */

    background: url(../img/bg4.jpg) round;
}
/* .masthead:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .4;
} */

/* 主标题底下的联系方式 */
.bc-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}
.bc-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.bc-social-buttons li {
    display: inline-block;
    line-height: 1;
    color: #555;
}
.bc-social-buttons>li+li:before {
    padding: 0 10px;
    color: #ccc;
    content: "|";
}

.thumbnail>.caption {
    text-align: center;
}

/* @media screen and (max-width: 768px){
    .thumbnail {
        height: 192px;
    }
    .thumbnail>img {
        width: 274px;
        margin: 0;
        float: left;
    }
    .thumbnail>.caption {
        text-align: left;
        float: left;
    }
} */


h1 {
    font-size: 50px;
}

p {
    text-indent:2em;
}

.chartjs {
    margin-top: 10px;
    margin-bottom: 10px;
}
.chartjs.pull-left {
    margin-left: 10px;
    margin-right: 20px;
}
.chartjs.pull-right {
    margin-left: 20px;
    margin-right: 10px;
}
.chartjs-6 {
    width: 61.8%;
}
.chartjs-3 {
    width: 30%;
}
.chartjs-3>canvas{
    height: 30%;
    width: 30%;
}

/* 
.chartjs>canvas {
    min-width: 400px;
}
 */
/* 轮换图 */
.carousel
{
    height: 100%;
}

/* 轮换图翻页 */
.carousel-control
{
    font-size: 60px;
    font-weight: 100;
    line-height: 22px;

    position: absolute;
    top: 48%;
    left: 15px;

    width: 40px;
    height: 40px;
    margin-top: -20px;

    text-align: center;

    opacity: .5;
    color: #fff;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
       -moz-border-radius: 23px;
            border-radius: 23px;
    background: #222;

    filter: alpha(opacity=50);
}
.carousel-control.right
{
    right: 15px;
    left: auto;
}
.carousel-control:hover,
.carousel-control:focus
{
    text-decoration: none;

    opacity: .9;
    color: #fff;

    filter: alpha(opacity=90);
}

/* 轮换图下描述 */
.carousel-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 15px;

    background: #333;
    background: rgba(0,  0,  0,  .75);
}
.carousel-caption h4,
.carousel-caption p
{
    line-height: 20px;

    text-align: left;

    color: #fff;
}
.carousel-caption h4
{
    margin: 0 0 5px;
}
.carousel-caption p
{
    margin-bottom: 0;
}

/* 轮换图指示灯 */
.carousel-indicators
{
    position: absolute;
    z-index: 5;
    top: 15px;
    right: 15px;
    left: initial;

    width: 60px;
    height: 15px;
    margin: 0;

    list-style: none;
}
.carousel-indicators li
{
    display: block;
    float: left;

    width: 10px;
    height: 10px;
    margin-left: 5px;

    text-indent: -999px;

    border-radius: 5px;
    background-color: #ccc;
    background-color: rgba(255,  255,  255,  .25);
}
.carousel-indicators li
{
    display: block;
    float: left;

    width: 10px;
    height: 10px;
    margin-left: 5px;

    text-indent: -999px;

    border-radius: 5px;
    background-color: #ccc;
    background-color: rgba(255,  255,  255,  .25);
}
.carousel-indicators .active
{
    width: 10px;
    height: 10px;
    margin: 1px 1px 1px 5px;

    background-color: #fff;
}

.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}
